@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&display=swap');

*{  
  margin:0;   
  padding: 0;
 }  
body{
  height: 300vh;
  font-family: 'Poppins', sans-serif;
}
 .title{  
  cursor:pointer;  
 }  
 /*Properties for Nav-bar*/  

 .navbar{  
  display:flex;  
  top:0;  
  height:65px;  
  justify-content:space-between;  
  align-items:center;   
  padding:0px 20px;    
  position: sticky;
 }  

 .navbar div, ul li{
  color: gray;
  
 }

 .content-navbar{
  display: flex;
  flex-direction: column;
  

 }
 .nav-sub{  
  display:flex;  
  flex-direction: row;
 }  

 .list-item-navbar{
  height: 65px;
  display: flex;
  align-items: center;
 }

 .list-item {  
  font-size: 17px;
  margin: 0 50px;
  padding:10px;  
  list-style:none;  


  &:hover{
    border-bottom: 1px solid red;
  }
 }  



 .list-item.none{
  display: none;
 }
 .list-item.none button{
  width: 100px;
  padding: 7px;
  background-color: #101010;
  color: aliceblue;
 }
 .nav-link{  
  color:inherit;  
  text-decoration:none;  
 }  
 /*Properties for Hamburger*/  
 .ham{  
  display:none;  
  padding:5px;  
  cursor:pointer;  
 }  
 .bar1,.bar2,.bar3{  
  display:block;  
  width:35px;  
  height:3px;  
  margin:5px auto;  
  background-color:#101010;  
  transition: 0.4s;  
 } 


 /* HERO */
section.hero{
  margin: -65px 0 0 0   ;
}

section.hero .container{
  height: 100vh ;
  width: 100%;
  background: #111 ;
  display: flex;
  align-items: center;

}

section.hero .col {
  width: 45%;
  display: flex;
  justify-content: end;
}


section.hero .col .text{
  color: white;
}

section.hero .col .text, .col .btn{
  margin:  0 0 0 0;
} 

section.hero .col .text h1{
  font-size: 50px;
}

section.hero .col .text h1 span{
  font-weight: bolder;
  
}

section.hero .col .text p{
  font-size: 20px;
  font-weight: 120 !important;
}

section.hero .col .btn{
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  margin: 20px 0 0 0;
}

section.hero .col .btn a{
  text-decoration: none;
  color: white;
}

section.hero .col-img{ 
  overflow: visible;
  width: 55%;
  height: 100vh;
}

section.hero .col-img .background{
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('drive-download-20230816T014010Z-001/Ellipse\ 2.png');
  background-position: 190% 10%;
}

section.hero  .col-img img{
  width: 500px;
  height: 500px;
  margin: 0 0 0 15%;
  position: relative;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  0%   {top: 0px;}
  50%  {top: 20px;}
  100% {top: 0px;}
}


/* PEMBATAS */
.pembatas{
  height: 30vh;
  background-color: #111;
}



/* ABOUT */
section.about{
  background-color: #1E1E1E;
}

section.about div.container{
  height: 50vh;
  padding: 3% 0 15% ; 
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.about .text h1{
  font-size: 50px;
}

section.about .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: #136EF8;
  margin: 5% auto;
}

section.about .btn a{
  text-decoration: none;
  color: white;
  
}

.about-bawah{
  height: 30vh;
  width: 100%;
  background-color: white;
  position: relative;
  margin: -100px 0 0 0 ;
  border-radius: 120px 120px 0 0;
  --smooth-corners: 4;
}

section.about .about-bawah .row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

section.about .about-bawah .img{
  display: flex;
  justify-content: center;
}

section.about .about-bawah .img img{
  width: 100px;
  margin-top: -20%;
}

section.about .about-bawah .text{
  margin: 20px 0;
  width: 300px;
  text-align: center;
}



/* CHARACTER */
section.character{
  margin: 12% 0 0 0;
}

section.character .header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

section.character .header h1{
  font-size: 50px;
  font-weight: bolder;
}

section.character .header .btn{
  width: 150px;
  height: 30px;
  background-color: #136EF8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}

section.character .header .btn a{
  text-decoration: none;
  color: white;

}

section.character .container{
  width: 80%;
  height: fit-content;
  margin: 50px auto 0;
}

section.character .container .row{
  display: flex;

  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;

}


section.character .container .card{
  height: 330px;
  width: 250px;
  border-radius: 30px;
  margin: 50px 20px;
  transition: 0.2s;

  &:hover{
    transform: scale(105%);
  }
}

section.character .container .card .img{
  display: flex;
  justify-content: end;

}

section.character .container .card img{
  width: 150px;
  margin: -42px 0 0 0;
}

section.character .container .card .text{
  margin: 21% 5% 0 10% ;
}

section.character .container .card h2{
  font-size: 30px;
  font-weight: 900;
}



section.character .container .col .card.satu{
  background-color: #3CF865;
  box-shadow: 0px 0 20px #3CF865;

  &:hover{
    box-shadow: 0px 0 30px #3CF865;
  }
}

section.character .container .col .card.dua{
  background-color: #C68538;
  box-shadow: 0px 0 20px #C68538 ;

  &:hover{
    box-shadow: 0px 0 30px #c68538;
  }
}

section.character .container .col .card.tiga{
  background-color: #FFE70A;
  box-shadow: 0px 0 20px #FFE70A;

  &:hover{
    box-shadow: 0px 0 30px #FFE70A;
  }
}

section.character .container .col .card.empat{
  background-color: #00D0FF;
  box-shadow: 0px 0 20px #00d0ff ;

  &:hover{
    box-shadow: 0px 0 30px #00d0ff;
  }
}

section.character .container .col .card.lima{
  background-color: #FF7BFF;
  box-shadow: 0px 0 20px #FF7BFF ;

  &:hover{
    box-shadow: 0px 0 30px #ff7bff;
  }
}


/* Bawah */
section.image{
  height: 70vh;
  background-color: #101010;
}

section.image .container{
  height: inherit;
  display: flex;
  align-items: center;

}

section.image .container .row{
  width: 100%;
  transform: rotate(20deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: ;

}

section.image img{
  width: 100px;
}

 


 @media only screen and (min-width:768px){
  nav.sticky  {
    z-index: 99999;
    background-color: #101010;
    box-shadow: 1px 0 10px black;
    transition: 0.2s;
  }
  
  nav.sticky div, nav.sticky ul li{
    color: white;
  }
 }
 @media only screen and (max-width:768px){  
 
 .nav-sub{  
   position: fixed;   
   top:65px;  
   right:0px;  
   flex-direction:column;  
   background-color:rgb(0,0,0,0.75);  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
   height: 100vh;
   width: 50%;
  }  
  .list-item{
    margin: 0 auto  ;
  }
  .list-item.none{
    display: block;

   }

 .nav-change{  
   transform:translate(0%);  
    
  }  
 .ham{  
   display:block;  
   order: 3;
  }  
 .change .bar1 {  
  transform: rotate(45deg) translate(8px,3px);  
 }  
 .change .bar2 {  
  opacity: 0;  
 }  
 .change .bar3 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 }  

 .download-btn{
  display: none;
  order: 2;  
 }




 section.about .about-bawah .row{
  display: grid;
 }

 }  