@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&display=swap');

*{  
  margin:0;   
  padding: 0;
  scroll-behavior: smooth;
 }  
body{
  height: 300vh;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}
 .title{  
  cursor:pointer;  
 }  
 /*Properties for Nav-bar*/  

 .navbar{  
  display:flex;  
  top:0;  
  height:65px;  
  justify-content:space-between;  
  align-items:center;   
  padding:0px 20px;    
  position: sticky;
 }  

 .navbar div, ul li{
  color: gray;
  
 }

 .navbar .download-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: rgb(19, 110, 248);
 }

 .navbar .download-btn a{
  color: white;
 }

 .content-navbar{
  display: flex;
  flex-direction: column;
  

 }
 .nav-sub{  
  display:flex;  
  flex-direction: row;
 }  

 .list-item-navbar{
  height: 65px;
  display: flex;
  align-items: center;
 }

 .list-item {  
  font-size: 17px;
  margin: 0 50px;
  padding:10px;  
  list-style:none;  


  &:hover{
    border-bottom: 1px solid red;
  }
 }  



 .list-item.none{
  display: none;
 }
 .list-item.none button{
  width: 100px;
  padding: 7px;
  background-color: #101010;
  color: aliceblue;
 }
 .nav-link{  
  color:inherit;  
  text-decoration:none;  
 }  
 /*Properties for Hamburger*/  
 .ham{  
  display:none;  
  padding:5px;  
  cursor:pointer;  
 }  
 .bar1,.bar2,.bar3{  
  display:block;  
  width:35px;  
  height:3px;  
  margin:5px auto;  
  background-color:#101010;  
  transition: 0.4s;  
 } 


 /* HERO */
section.hero{
  margin: -65px 0 0 0   ;
}

section.hero .container{
  height: 100vh ;
  width: 100%;
  background: #111111 ;
  display: flex;
  align-items: center;

}

section.hero .col {
  width: 45%;
  display: flex;
  justify-content: end;
}


section.hero .col .text{
  color: white;
}

section.hero .col .text, .col .btn{
  margin:  0 0 0 0;
} 

section.hero .col .text h1{
  font-size: 50px;
}

section.hero .col .text h1 span{
  font-weight: bolder;
  
}

section.hero .col .text p{
  font-size: 20px;
  font-weight: 120 !important;
}

section.hero .col .btn{
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  margin: 20px 0 0 0;
}

section.hero .col .btn a{
  text-decoration: none;
  color: white;
}

section.hero .col-img{ 
  overflow: visible;
  width: 55%;
  height: 100vh;
}

section.hero .col-img .background{
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('drive-download-20230816T014010Z-001/Ellipse\ 2.png');
  background-position: 190% 10%;
}

section.hero  .col-img img{
  width: 500px;
  height: 500px;
  margin: 0 0 0 15%;
  position: relative;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  0%   {top: 0px;}
  50%  {top: 20px;}
  100% {top: 0px;}
}


/* PEMBATAS */
.pembatas{
  height: 30vh;
  background-color: #111;
  
  
}

.pembatas1{
  width: 99%;
  height: 50%;
  background-color: #111;
  transform: rotate(-5deg);
}

.pembatas2{
  position:relative;
  z-index: inherit;
  height: 82%;
  width: 99.5%;
  background-color: #222831;
  transform: rotate(5deg);
  
}

/* ABOUT */
section.about{
  background-color: #222831;
}

section.about div.container{
  height: 60vh;
  padding: 3% 0 7% ; 
  margin: 0 10% 0 0;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}

section.about .container .gambar img{
  width: 75%;
}

section.about .text{
  text-align: start;
  font-weight: 200;
}



section.about .text p{
  margin: 20px 0;
}

section.about .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #136EF8;
  margin: 5% 0;
}

section.about .btn a{
  text-decoration: none;
  color: white;
  
}

.about-bawah{
  margin: -5% 0 0 0 ;
  width: 100%;
  background-color: #11151b;
  position: relative;
}

section.about .about-bawah .about-bg{
  height: 65%;
  width: 100%;
  background-image: url('drive-download-20230816T014010Z-001/aboutbg.png');
  background-position: 60% 40% ;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  border-radius: 0 0 100px 100px;
  overflow: hidden;

}

section.about .about-bawah .about-bg h2{
  font-size: 50px;
  font-weight: 900 !important;
  line-height: 80px;
  margin: 7% 0 0 0 ;
  color: white;
  z-index: 1;
}

section.about .about-bawah .about-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 65%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  position: absolute;
  

}

section.about .about-bawah .col{
  background-color: #222831;
  border-radius: 30px;
  color: white;
  z-index: 1;
}

section.about .about-bawah .img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.img.satu{
  background-color: #DA0C81;
}
.img.dua{
  background-color:#5272F2;
}
.img.tiga{
  background-color: #113946;
}

section.about .about-bawah .text{
  text-align: start;
}

section.about .about-bawah .text h2{
  font-size: 30px ;
}




/* CHARACTER */
section.character{
  margin: 0 0 2% 0;
}

section.character .con-header{
  background-color: #11151b;
}

section.character .header{
  padding: 5% 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius:  100px 100px 0 0;
}

section.character .header h1{
  font-size: 50px;
  font-weight: bolder;
}

section.character .header .btn{
  width: 150px;
  height: 30px;
  background-color: #136EF8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}

section.character .header .btn a{
  text-decoration: none;
  color: white;

}

section.character .container{
  width: 100%;
  height: fit-content;
}

section.character .container .row{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  
}


section.character .container .card{
  height: 300px;
  width: 220px;
  border-radius: 30px;
  margin: 50px 20px;
  transition: 0.2s;

  &:hover{
    transform: scale(105%);
  }
}

section.character .container .card .img{
  display: flex;
  justify-content: end;

}

section.character .container .card img{
  width: 130px;
  margin: -20% 0 0 0;
}

section.character .container .card .text{
  margin: 21% 5% 0 10% ;
}

section.character .container .card h2{
  font-size: 30px;
  font-weight: 900;
}



section.character .container .col .card.satu{
  background-color: #3CF865;
  box-shadow: 0px 0 20px #3CF865;

  &:hover{
    box-shadow: 0px 0 30px #3CF865;
  }
}

section.character .container .col .card.dua{
  background-color: #C68538;
  box-shadow: 0px 0 20px #C68538 ;

  &:hover{
    box-shadow: 0px 0 30px #c68538;
  }
}

section.character .container .col .card.tiga{
  background-color: #FFE70A;
  box-shadow: 0px 0 20px #FFE70A;

  &:hover{
    box-shadow: 0px 0 30px #FFE70A;
  }
}

section.character .container .col .card.empat{
  background-color: #00D0FF;
  box-shadow: 0px 0 20px #00d0ff ;

  &:hover{
    box-shadow: 0px 0 30px #00d0ff;
  }
}

section.character .container .col .card.lima{
  background-color: #FF7BFF;
  box-shadow: 0px 0 20px #FF7BFF ;

  &:hover{
    box-shadow: 0px 0 30px #ff7bff;
  }
}



/* Download */
section.download{
  height: 80vh;
  background-color: #11151b;
}

section.download .wrap{
  height: 100%;
 
  border-radius: 0 0 100px 100px;
  background: url('drive-download-20230816T014010Z-001/mockup-pc.png'), #11151b ;
  background-size: 70%;
  background-position: 80% 50%;
  background-repeat: no-repeat;
}

section.download .row{
  margin:  10%;
  color: white;
}

section.download .row h1{
  font-size: 39px;
}

section.download .btn-row{
  display: flex;
  flex-direction: row;
}

section.download .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: white;
  margin: 10% 10% 0 0;
  border-radius: 35px;
 
}
section.download a{
  text-decoration: none;
  color: black;
}


/* Footer */
footer{
  background-color: #11151b;
}

footer .wrapper{
    padding: 5% 10%;
    display: flex;
  

}

footer .col{
  color: white;
  margin: 2% 10% 0 0;

}

footer a{
  color: white;
}

footer ul{
  margin: 20px 0;
  list-style-type: none;
}

footer li{
  font-size: 14px;
  margin: 15px 0;
}


 @media only screen and (min-width:768px){
  nav.sticky  {
    z-index: 99999;
    background-color: #101010;
    box-shadow: 1px 0 10px black;
    transition: 0.2s;
  }
  
  nav.sticky div, nav.sticky ul li{
    color: white;
  }




  section.about .text h2{
    font-size: 40px;
  }

  section.about .container .gambar{
    width: 50%;
  }

  .about-bawah{

    height: 100vh;
  }

  section.about .about-bawah .text p{
    margin: 5% 0  ;
  }
  
  section.about .about-bawah .img{
    margin: -20% 0 0 15%;
  }

  section.about .about-bawah .text{
    margin: 5% 15% 7%;
  }

  section.about .about-bawah .col{
    width: 20%;
    height: 220px;
    padding: 1%;
  margin: 0 1.5%;
  }

  section.about .about-bawah .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -7% 0 0 0 ;
  
  }

  /* Download */
  section.download .wrap{
    height: 100%;
    display: flex;
    align-items: center;
  }
  
 }



 @media only screen and (max-width:768px){  
 
 nav.navbar{
  z-index: 999;
 }

  .sticky{
  background-color: white;
 }

 .sticky .title{
  color: black;
 }

 .nav-sub{  
   position: fixed;   
   top:65px;  
   right:0px;  
   flex-direction:column;  
   background-color: #22283194;  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
   height: 100vh;
   width: 50%;

  }  

  .nav-change .list-item .nav-link{
    color: white;
  }
  .list-item{
    margin: 0 auto  ;
  }
  .list-item.none{
    display: block;

   }

 .nav-change{  
  z-index: 999;
   transform:translate(0%);  
   
    
  }  
 .ham{  
   display:block;  
   order: 3;
  }  
 .change .bar1 {  
  transform: rotate(45deg) translate(8px,3px);  
 }  
 .change .bar2 {  
  opacity: 0;  
 }  
 .change .bar3 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 }  

 .download-btn{
  display: none !important;
  order: 2;  
 }
 


 /* HERO */

 section.hero .container{
  justify-content: center !important;

}
section.hero .col{
  width:100% !important;
  margin: 0 50px !important;
}

 section.hero .col-img .background{
  display: none;
 }

 section.hero .col-img img{
  width: 0;
  height: 0;
  animation: none;
 }



/* PEMBATAS */
.pembatas{
  display: none;
}


/* ABOUT */

section.about .container{
  flex-direction: column-reverse;
  height: fit-content !important;
}

section.about .content .text h2{
  margin-top: 20px;
  font-size: 30px !important;
}

section.about .gambar img{
  width: 300px !important;
}

.about-bawah .about-bg{
  background-position: 53% 20% !important;
  height: 60vh !important;
}

.about-bawah h2{
  margin: 70px 70px 0 70px  !important;
  font-size: 40px !important;
}

.about-bawah .row{
  display:flex;
  flex-direction: column;
  margin: -70px 0 0 !important;

}

.about-bawah .row .col{
  height: 200px;
  margin: 10px auto;
  width: 70% !important;
  display: flex !important;
  flex-direction: row !important;
  z-index: 1;

}

.about-bawah .row .col .img{
  width: 80px !important;
  height: 80px !important;
  margin: 0 20px 0 -30px !important;
}

.about-bawah .col .text{
  width: 80%;
  display: flex;
  margin: -30px 0 0 0;
  flex-direction: column;
  align-items: center;
}

.about-bawah .row .col h2{
  font-size: 20px !important;
}


/* CHARACTER */


section.character .container .row{
  flex-direction: row;
  flex-wrap: wrap;
  
}

section.character .container .col{
  margin: 10px 0;
}

section.character .container .card{
  height: 80%;
  padding: 5px 0;
  width: 80%;
}

section.character .container .card img{
  width: 70%;

}

section.character .container .card .text{
  margin: 10% 5% 0 10% ;
}


/* Download */
section.download {
  
  height: 90vh;
}
section.download .wrap {
  background: url('drive-download-20230816T014010Z-001/mockup-hp.png'), #11151b ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 70% 150%;
}

section.download .wrap .row{
  margin: 0 10px !important;
}

section.download .row h1{
  margin: 30px 0 !important;
  font-size: 35px !important;
}

section.download .btn{
  width: 150px;
  height: 50px;
  margin: 20px 10% 0 0;
  border-radius: 35px;
 
}

/* Footer */
 footer .wrapper{
  padding: 0 0 15% 10%;

  display: grid;

 } 

}
